tinyproxy:
  User: myuser
  Group: mygroup
  Port: 8888
  Listen: 192.168.0.1
  Bind: 1.2.3.4
  BindSame: yes
  Timeout: 600
  ErrorFile:
  	404: /usr/share/tinyproxy/404.html
    400: /usr/share/tinyproxy/400.html
    503: /usr/share/tinyproxy/503.html
    403: /usr/share/tinyproxy/403.html
    408: /usr/share/tinyproxy/408.html
  DefaultErrorFile: /usr/share/tinyproxy/default.html
  StatHost: tinyproxy.stats
  StatFile: /usr/share/tinyproxy/stats.html
  Logfile: /var/log/tinyproxy/tinyproxy.log
  Syslog: On
  LogLevel: Info
  PidFile: /var/run/tinyproxy/tinyproxy.pid
  XTinyproxy: Yes
  Upstream:
    - "testproxy:8008 \".test.domain.invalid\""
    - "testproxy:8008 \".our_testbed.example.com\""
    - "testproxy:8008 \"192.168.128.0/255.255.254.0\""
  NoUpstream:
    - ".internal.example.com"
    - "www.example.com"
    - "10.0.0.0/8"
    - "192.168.0.0/255.255.254.0"
    - "."
  MaxClients: 100
  MinSpareServers: 5
  MaxSpareServers: 20
  StartServers: 10
  MaxRequestsPerChild: 0
  Allow:
    - 127.0.0.1
    - 192.168.0.0/16
    - 172.16.0.0/12
    - 10.0.0.0/8
  AddHeader:
    X-My-Header: "Powered by Tinyproxy"
  ViaProxyName: tinyproxy
  DisableViaHeader: Yes
  Filter: /etc/filter
  FilterURLs: On
  FilterExtended: On
  FilterCaseSensitive: On
  FilterDefaultDeny: Yes
  Anonymous:
    - Host
    - Authorization
    - Cookie
  ConnectPort:
    - 443
    - 563
  ReversePath:
    "/google/": "http://www.google.com/"
    "/wired/": "http://www.wired.com/"
  ReverseOnly: Yes
  ReverseMagic: Yes
  ReverseBaseURL: "http://localhost:8888/"
