[Unit]
Description=The Salt Minion
After=syslog.target network.target
Before=salt-master

[Service]
Type=simple
ExecStartPre=/usr/lib/salt/bind-directories \
             /rw/usrlocal/srv/salt:/srv/salt \
             /rw/usrlocal/srv/pillar:/srv/pillar \
             /rw/usrlocal/etc/salt:/etc/salt \
             /rw/usrlocal/srv/salt-formulas:/srv/salt-formulas \
             /rw/usrlocal/var/cache/salt:/var/cache/salt \
             /usr/bin/python:/usr/local/bin/python
ExecStart=/usr/bin/salt-minion

[Install]
WantedBy=multi-user.target
