{% set plone = salt['grains.filter_by']({
    'Debian': {
        'user': 'plone',
        'group': 'plone',
        'adminuser':'admin',
        'adminpass':'changeme',
        'venv_location': '/opt/plone-venv',
        'instance_location': '/opt/plone-instance',
        'instance_name': 'simple-instance',
        'pkgs': [
            'git',
            'python-pip',
            'python-virtualenv',
            'libxml2',
            'libxml2-dev',
            'libxslt1.1',
            'libxslt1-dev',
            'python-dev',
            'fontconfig-config',
            'libexif-dev',
            'libexif12',
            'libfontconfig1',
            'libfontconfig1-dev',
            'libfreetype6',
            'libfreetype6-dev',
            'libgd2-xpm',
            'libgphoto2-2',
            'libgphoto2-2-dev',
            'libgphoto2-port0',
            'libjbig-dev',
            'libjbig0',
            'libjpeg8',
            'libjpeg8-dev',
            'libpng12-0',
            'libtiff4',
            'libtiff4-dev',
            'libtiffxx0c2',
            'libv4l-0',
            'libv4l-dev',
            'libv4lconvert0',
            'ttf-dejavu-core',      
        ]
    },
}, merge=salt['pillar.get']('plone:lookup')) %}
