@charset "utf-8";

body {
  border-top: 11px solid #329FD7;
}

#top-panel {
  background: url('http://plone.org/logo.png') no-repeat scroll 10px center;
  height: 100px;
}

#top-panel table tbody tr td img {
  display: none;
}

.top-sticker {
  border-top: 1px solid #D3D7CF;
}

#searchform {
  display: none;
}

#login-field span {
  color: black;
}

#login-field span a {
  color: black;
}

