Source: qubes-mgmt-salt
Section: admin
Priority: extra
Maintainer: Jason Mehring <nrgaway@gmail.com>
Build-Depends: 
    debhelper (>= 9~),
    quilt,
    python-yaml
Standards-Version: 3.9.5
Homepage: http://www.qubes-os.org

Package: qubes-mgmt-salt
Section: admin
Architecture: all
Depends:
    salt-common,
    salt-minion,
    qubes-mgmt-salt-base
Recommends:
    lsb-release
Description: Qubes+Salt Management dependencies.

Package: qubes-mgmt-salt-config
Section: admin
Architecture: all
Description: Qubes+Salt Management base configuration for SaltStack's Salt Infrastructure automation and management system.
Depends:
    salt-common,
    salt-minion

Package: qubes-mgmt-salt-dom0
Section: admin
Architecture: all
Depends:
    qubes-mgmt-salt,
    qubes-mgmt-salt-dom0-qvm,
    qubes-mgmt-salt-dom0-update
Recommends:
    qubes-mgmt-salt-dom0-virtual-machines,
    qubes-mgmt-salt-dom0-policy-qubesbuilder,
    qubes-mgmt-salt-dom0-fix-permissions,
    qubes-mgmt-salt-dom0-template-upgrade
Conflicts: qubes-mgmt-salt-vm
Description: Qubes+Salt Management dom0 dependencies.

Package: qubes-mgmt-salt-vm
Section: admin
Architecture: all
Depends:
    qubes-mgmt-salt,
Recommends:
    qubes-mgmt-salt-vm-python-pip
Description: Qubes+Salt Management vm dependencies.

Package: qubes-mgmt-salt-dom0-formulas
Section: admin
Architecture: all
Depends:
    qubes-mgmt-salt,
    qubes-mgmt-salt-dom0-qvm,
    qubes-mgmt-salt-dom0-update,
    qubes-mgmt-salt-dom0-virtual-machines,
    qubes-mgmt-salt-dom0-fix-permissions,
    qubes-mgmt-salt-dom0-policy-qubesbuilder,
    qubes-mgmt-salt-dom0-template-upgrade
Description: All Qubes+Salt Management dom0 formulas.

Package: qubes-mgmt-salt-vm-formulas
Section: admin
Architecture: all
Depends:
    qubes-mgmt-salt,
    qubes-mgmt-salt-vm-python-pip
Description: All Qubes+Salt Management VM formulas

Package: qubes-mgmt-salt-extra-formulas
Section: admin
Architecture: all
Depends:
    qubes-mgmt-salt,
    qubes-mgmt-salt-all-salt,
    qubes-mgmt-salt-all-privacy,
    qubes-mgmt-salt-all-theme,
    qubes-mgmt-salt-all-vim,
    qubes-mgmt-salt-all-gnupg,
    qubes-mgmt-salt-all-yamlscript-renderer,
    qubes-mgmt-salt-all-yamlscript-users
Description: All Qubes+Salt Management extra (qubes-mgmt-all-*) formulas
