#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DESTDIR=$(shell pwd)/debian/qubes-mgmt-salt-config
export DESTDIR_VM=$(shell pwd)/debian/qubes-mgmt-salt-vm-connector

%:
	dh $@

override_dh_auto_build:
	dh_clean --keep

override_dh_auto_install:
	make install DESTDIR=$(DESTDIR) BINDIR=/usr/bin SYSCONFDIR=/etc
	make install-vm DESTDIR=$(DESTDIR_VM) BINDIR=/usr/bin SYSCONFDIR=/etc

override_dh_fixperms:
	dh_fixperms -a -Xsrv -Xminion.d
