{%- if config.has_key('comment') %}
  {%- for line in config['comment'].splitlines() %}
# {{ line }}
  {%- endfor %}
{%- endif %}
{{ intendation }}subnet {{ subnet }} netmask {{ config.netmask }} {
{%- if config.has_key('range') %}
  {%- if config.has_key('dynamic_bootp') and config.dynamic_bootp %}
{{ intendation }}  range dynamic-bootp {{ config.range[0] }} {{ config.range[1] }};
  {%- else %}
{{ intendation }}  range {{ config.range[0] }} {{ config.range[1] }};
  {%- endif %}
{%- endif %}
{%- if config.has_key('broadcast_address') %}
{{ intendation }}  option broadcast-address {{ config['broadcast_address'] }};
{%- endif %}
{%- if config.has_key('routers') and config.routers is string %}
{{ intendation }}  option routers {{ config.routers }};
{%- elif config.has_key('routers') and config.routers is sequence %}
{{ intendation }}  option routers
  {%- for router in config.routers %} {{ router }}
    {%- if not loop.last %},{% else %};{% endif %}
  {%- endfor %} 
{%- endif %}
{{ intendation }}}
