{% set varnish = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'varnish',
        'service': 'varnish',
        'config': '/etc/default/varnish',
    },
    'RedHat': {
        'pkg': 'varnish',
        'service': 'varnish',
        'config': '/etc/sysconfig/varnish',
    },
}, merge=salt['pillar.get']('varnish:lookup')) %}
